@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat;
    transition: .5s;
}

ul {
    list-style: none;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.lux_img {
    position: relative;

}

.luxury_text {
    /* position: absolute;
    left: 15.99%; */
    margin-top: 39px;
}

.header_nav {
    display: flex;
    column-gap: 400px;
    justify-content: center;
    background: rgba(20, 39, 74, 0.5);
    position: fixed;
    z-index: 999;
    width: 100%;
    
    
}


.hotel_list {
    display: flex;
    column-gap: 90px;
    align-items: center;
}
    

.headerBg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hotel_comment {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: rgba(20, 39, 74, 0.5);
}

.hotel_linker {
   color: white;
   font-size: 25px;
   font-weight: 700;
   
}

.cmmn_Welcome {
    /* position: absolute; */
    font-size: 50px;
    color: white;
    font-weight: 400;
    margin-top: 200px;
    /* left: 14.13%;
    right: 66.18%;
    top: 43.55%;
    bottom: 87.57%; */

}

.Luxury_cmmn {
    /* position: absolute; */
    /* left: 14.11%;
    right: 52.54%;
    top: 50.03%;
    bottom: 83.84%; */
    color: white;
    font-size: 154px;
    font-family: none;
    font-weight: 600;
}



.luxury_txt_cmmn {
    /* position: absolute;
    left: 14.11%;
    right: 58.95%;
    top: 77.81%;
    bottom: 79.34%; */
    color: white;
    font-size: 25px;
    width: 100%;
    max-width: 575px;
    

}


.book_now {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #E0B973;
    width: 100%;
    max-width: 268px;
    margin: 108px auto;
    padding: 22px 50px;
    font-size: 25px;
    border-radius: 10px;
    font-weight: 700;
    line-height:30px;
}

.scroll_scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.header_stomach {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 81px;
    flex-direction: column;
}

.guide_title {
    font-size:60px;
    font-weight: 700;
    line-height: 72px;
    width: 100%;
    max-width: 563px;
}

.guide_txt{
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    width: 100%;
    max-width: 542px;
}

.stomach_guide_txt {
    border-left:2px solid #14274A;
    padding-left: 48px ;
    margin: auto 0;
}

.stomach_guide {
    margin-top: 100px;
    column-gap: 110px;
}

.guide_btn {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    background: #E0B973;
    color: white;
    padding: 18px 67px;
    transition: .5s;
    display: inline-block;
    margin-top: 50px;
}

.guide_btn:hover {
    text-decoration: none;
    background: #7c653a;
}

.img_guide {
    width: 100%;
    max-width: 866px;
    height: 100%;
    min-height: 579px;
}

.stomach_guide {
    display: flex;
}

.header_footer {
    text-align: center;
    margin-top: 115px;
}

.text_text {
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 25px;
}

.header_footer_texts {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
}

.text_text_1 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 19px;
}

.btn_s {
    padding: 15px 18px;
    font-size: 20px;
    font-weight: 900;
    width: 100%;
    color: white;
    max-width: 50px;
    background: #E0B973;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
    margin: 0 10px;
    outline: none
}



.nav_for_foooter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 100px 180px;
    
}



.nav_1_footer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    max-width: 200px;
}

.link_for_footer {
    color: white;
    font-size: 14px;
    transition: .5s;
}

.link_for_footer:hover {
     text-decoration: none;
}
.link_for_footer_1:hover {
     text-decoration: none;
}
.link_for_footer_2:hover {
     text-decoration: none;
}
.link_for_footer_1 {
    color: white;
    font-size: 14px;
    transition: .5s;
}
.link_for_footer_2 {
    color: white;
    font-size: 14px;
    transition: .5s;
}

.section {
    background: rgba(20, 39, 74, 1);
    
}

.text_luxury_foooter {
    color: white;
}








.nav_link_footer {
    color: white;
}
.nav_link_footer_1 {
    color: white;
}
.nav_link_footer_2 {
    color: white;
}

.nav_footer_2 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-left: 250px;
}

.nav_footer_3 {
    margin-left: 200px;
}

.nav_footer_4 {
    margin-left: 200px;
}




.nav_txt_subs {
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.input {
    padding: 15px 30px;
    outline: none;
    background: none;
    border: 2px solid #e0b973 ;
    color: white;
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
}

.OK {
    padding: 15px 10px;
    transition: .5;
    color: black;
    background: #e0b973;
    display: inline-block;
    font-weight: 700;
    outline: none;
}
.navver {
    display: flex;
}


.show_title {
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    padding-top:82px ;
    display: flex;
    justify-content: center;
}

.room_1 {
    display: flex;
    justify-content: center;
}

.room_txt {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    margin: auto 0;
}

.info {
    font-size: 46px;
}

.info_txt {
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
    width: 100%;
    max-width: 523px;
}

.rooms_info {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    column-gap: 98px;
}

.about_room {
    margin: auto 0;
    padding-left: 30px;
    border-left: 2px solid gray ;
    

}

.img_gym {
    width: 100%;
    max-width: 800px;
    height: 427px;
}